.m5-cookie-substrate
  position: fixed
  z-index: 99998
  left: 0
  right: 0
  top: 0
  bottom: 0
  background: rgba(0,0,0,.5)
.m5-cookie
  position: fixed
  z-index: 99999
  background: #fff
  left: 0
  right: 0
  bottom: 0
  padding: 20px 50px
  color: #000
  line-height: 1.5
  font-size: 15px
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  transform: translateY(100%)
  .m5-cookie-inited &
    transition: all .3s ease .3s
    transform: translateY(0)
  @media (max-width:768px)
    padding: 20px
  *
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box
  &__inner
    display: block
    font-size: 0
    &:before,
    &:after
      content:""
      display:table
    &:after
      clear:both
  &__main-text
    display: inline-block
    vertical-align: middle
    width: 60%
    padding-right: 20px
    font-size: 15px
    line-height: 1.5
    @media (max-width:768px)
      width: 100%
      margin-bottom: 10px
  &__btns-container
    display: inline-block
    vertical-align: middle
    width: 40%
    text-align: center
    @media (max-width:768px)
      width: 100%
  &__btn
    display: inline-block
    font-size: 12px
    text-transform: uppercase
    text-align: center
    padding: 1em 2em
    width: 200px
    line-height: 1
    text-decoration: none
    border: 2px solid #ff9320
    color: #000
    margin: 5px 10px
    &--allow
      background: #ff9320
      color: #fff