

$ff = 'Helvetica', 'Arial', 'Open Sans';

$cWhite = #ffffff
$cBlack = #000000
$cGrey = #58585a
$cRed = #de5950
$cBlue = #8dbcd6

$rem = 17

fzr($px)
	font-size: round($px/$rem, 4)rem

rem($px)
	round($px/$rem, 4)rem

em(target, context=$rem)
	round((target/context), 4)em

fe(target, context=$rem)
	font-size: em(target, context)


cf()
	&:before,
	&:after
		content:""
		display:table

	&:after
		clear:both

justify($font = 1rem, $lineHeight = 1rem, $vAlign = middle)
	font-size: 0
	line-height: 0
	text-align: justify
	text-justify: distribute-all-lines
	> *
		display: inline-block
		font-size: $font
		line-height: $lineHeight
		vertical-align: $vAlign
	&:after
		content: ""
		display: inline-block
		font-size: 0
		height: 0
		width: 100%


// mobile-first
//$xs-max = 767px
//$sm-min = 768px
//$md-min = 1024px
//$lg-min = 1280px
//
//$sm = '(min-width: ' + $sm-min + ')'
//$md = '(min-width: ' + $md-min + ')'
//$lg = '(min-width: ' + $lg-min + ')'
//$xs = '(max-width: ' + $xs-max + ')'

// desktop first
$xs-max = 670px
$sm-max = 1024px
$md-max = 1280px
$lg-min = 1281px

$xs = '(max-width: ' + $xs-max + ')'
$sm = '(max-width: ' + $sm-max + ')'
$md = '(max-width: ' + $md-max + ')'
$lg = '(min-width: ' + $lg-min + ')'
